@model SCHOOL_MANAGEMENT.Data.DataModel.Teacher.TeacherModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="main-card card">
            <div class="card-header">
                Edit  Teacher
            </div>
            <div class="card-body">

                <form asp-action="Edit" asp-area="Teacher" asp-controller="Teacher">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="RowVersion" />
                    <input type="hidden" asp-for="CreatedUserId" />
                    <input type="hidden" asp-for="CreatedDate" />
                    <div class="md-form ">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control form-control-sm" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="md-form ">
                        <label asp-for="Ph_Number" class="control-label"></label>
                        <input asp-for="Ph_Number" class="form-control form-control-sm" />
                        <span asp-validation-for="Ph_Number" class="text-danger"></span>
                    </div>
                    <div class="md-form ">
                        <label asp-for="DOB" class="control-label"></label>
                        <input asp-for="DOB" class="form-control form-control-sm" type="date" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                    <div class="md-form ">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control form-control-sm" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div><br />
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-sm btn-outline-primary" asp-area="Teacher" asp-controller="Teacher">Back to List</a>
                        <input type="submit" value="Update" class="btn btn-sm btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>